.actor-big {
  background: white;
  padding: 10px;
  
  h3 {
    text-align: center;
    margin-top: 0;
  }
  
  .tv {
    text-align: center;
    .slider {
      width: 75%;
      display: inline-block;
      position: relative;
      
      a.arrow {
        background: rgba(0,0,0,.3);
        color: rgba(255,255,255,.7);
      }
    }
  }
}
