<div class="row">
  <div class="span6">
    <% if @orders.any? %>
      <h2>Последние заказы</h2>
      <%= render @orders %>
    <% end %>
  </div>
  <div class="span6">
    <% if @queries.any? %>
      <h2>Последние заявки</h2>
      <%= render @queries %>
    <% end %>
  </div>
</div>
